//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄
       

#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#include "zmk-helpers/helper.h"
#include "zmk-helpers/key-labels/totem.h"

// https://github.com/urob/zmk-config/tree/main#timeless-homerow-mods
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LM0 LM1 LM2 LM3 LM4 LB0 LB1 LB2 LB3 LB4 LB5  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RM0 RM1 RM2 RM3 RM4 RB0 RB1 RB2 RB3 RB4 RB5  // right hand
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                          // thumbs

// Modifier keys
#define GL LGUI
#define CL LCTRL
#define AL LALT
#define SL LSHFT
#define GR RGUI
#define CR RCTRL
#define AR RALT
#define SR RSHFT

// Layers
// Must match order in which they are defined
#define ERL 0
#define ERG 1
#define NUM 2
#define NUA 3
#define SYM 4
#define OPE 5
#define EAC 6
#define GAM 7

// Keys
#define ___ &trans
#define XXX &none
#define BACK &to ERG
#define BACK_E &tog EAC

#include "layouts/azerty-fr-modern.dtsi"
#include "layouts/ergol.dtsi"
#include "behaviors/leader-key.dtsi"
#include "behaviors/macros.dtsi"
#include "behaviors/mod-morph.dtsi"
#include "behaviors/hold-tap.dtsi"
#include "behaviors/combos-totem.dtsi"
#include "behaviors/conditional-layers.dtsi"

// Computer-managed layer - QWERTY-based sent keys, adapted per activated layout on OS
// Best with Ergo-L because NavNum accessed from here is maped for Ergo-L
// ERL
ZMK_LAYER(ErgolBase,
//             ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
                 &kp Q       &kp W       &kp E       &kp R        &kp T          &kp Y       &kp U         &kp I         &odk_kp O    &kp P
//             ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
                 &hml GL A   &hml AL S   &hml CL D   &hml SL F    &kp G          &kp H       &hmr SR J     &hmr CR K     &hmr AR L    &hmr GL SEMI
// ╭───────────├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤────────────╮
     &kp CL      &kp Z       &kp X       &kp C       &kp V        &kp B          &kp N       &kp M         &kp COMMA     &kp PERIOD   &kp SLASH    &kp AL
// ╰───────────├───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴────────────╯
                                         &lt OPE ESC &mt SL RET  &del_lt NUM 0  &bspc_del &n_space_mt AR 0 &mt AR TAB
//                                     ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

// ERG
ZMK_LAYER(ErgolAz,
//             ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
                 &kp FR_Q    &kp C       &kp O       &kp P        &kp FR_W       &kp J       &kp FR_M      &kp D         &eac_exl     &kp Y
//             ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
                &hml GL FR_A &hml AL S   &hml CL E   &hml SL N    &kp F          &kp L       &hmr SR R     &hmr CR T     &hmr AR I    &hmr GL U
// ╭───────────├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤────────────╮
     ___         &kp FR_Z    &kp X       &min_qst    &kp V        &kp B          &dot_col    &kp H         &kp G         &comma_semi  &kp K        ___
// ╰───────────├───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴────────────╯
                                         ___         ___          ___            ___      &n_space_lt SYM 0 ___ 
//                                     ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

// NUM
ZMK_LAYER(NavNumBase,
//             ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
                 &kp TAB     &kp HOME    &kp UP      &kp END      &kp PG_UP     &multi_dive  &kp N7        &kp N8        &kp N9       &comma_dote
//             ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
                 &kp CAPS    &kp LEFT    &kp DOWN    &kp RIGHT    &kp PG_DN     &plus_minuse &kp N4        &kp N5        &kp N6       &kp KP_DOT
// ╭───────────├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤────────────╮
     ___         &kp INS    &kp PSCRN   &kp SLCK   &kp PAUSE_BREAK &kp K_APP     &kp N0      &kp N1        &kp N2        &kp N3       &equal_oble  ___
// ╰───────────┴───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴────────────╯
                                         ___         ___          ___            ___         ___           ___ 
//                                     ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

// NUA
ZMK_LAYER(NavNumAz,
//             ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
                 ___         ___         ___         ___          ___           &multi_diva  &d7           &d8           &d9          &comma_dota
//             ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
                 ___         ___         ___         ___          ___           &plus_minusa &d4           &d5           &d6          &kp KP_DOT 
// ╭───────────├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤────────────╮
     ___         ___         ___         ___         ___          ___            &d0         &d1           &d2           &d3          &equal_obla  ___
// ╰───────────┴───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴────────────╯
                                         ___         ___          ___            ___         ___           ___ 
//                                     ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

//SYM
ZMK_LAYER(Symbols,
//             ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
                 &circacc    &lessert    &greatert   &dollars     &perct         &arobase    &kp ESPR      &starmul      &squotecute  &graveacc
//             ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
             &lbracecar &hml AL LPAREN &hml CL RPAREN &hmlrbrace SL 0 &equalordif  &bslashobl &hmrplus SR 0 &hmrhyphen CR 0 &slashdiv &dquotecute
// ╭───────────├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤────────────╮
     ___         &tildes     &lbracketc  &rbracketo  &underscruh  &kp SHARP      &kp VPIP    &kp EXCLM     &semicolced   &coloneach   &questionm   ___
// ╰───────────┴───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴────────────╯
                                         ___         ___          ___            ___         &nbspac       ___
//                                     ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

// OPE
ZMK_LAYER(Operation,
//             ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
              &out OUT_TOG &bt BT_SEL 3 &bt BT_SEL 2 &kp C_NEXT   &kp C_VOL_UP   &kp DOWN    &kp F1        &kp F2        &kp F3       &kp F4
//             ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
                 &sk LGUI    &bt BT_NXT &bt BT_SEL 1 &kp C_PREV   &kp C_VOL_DN   &kp RIGHT   &kp F5        &kp F6        &kp F7       &kp F8
// ╭───────────├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤────────────╮
     ___      &bt BT_CLR_ALL &bt BT_CLR &bt BT_SEL 0 &kp C_PP     &kp C_MUTE     &kp TAB     &kp F9        &kp F10       &kp F11      &kp F12      ___
// ╰───────────┴───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴────────────╯
                                         ___         ___          ___            ___         &kp SPACE     ___
//                                     ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

// EAC
ZMK_LAYER(ErgAzAcc,
//             ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
                 &ACI       &kp C_CEDIL  &kp FR_OE   &OCI         BACK           BACK        &kp MATH_MIC  &kp UNDSC     &trem_gr     &UCI  
//             ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
                 &AGR        &ECU        &EGR     &hrm_ECIRC SL 0 BACK           &kp LPAREN  &hmr SR RPAREN &ICI         &ITR         &kp 
// ╭───────────├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤────────────╮
     ___         &kp FR_AE   &kp S_SHARP &nob_hyph   &kp NDASH    &kp MDASH      &kp T_DOT   BACK          &kp GREEK     &kp M_DOT    BACK_E       ___
// ╰───────────├───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴────────────╯
                                         ___         ___          BACK           BACK        &kp APO       ___
//                                     ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)

/* ErgoAcc 1st version -- without ZMK_AUTO_LAYER
ZMK_LAYER(ErgoAcc,
//             ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
                 &ACI_E    &kp1e C_CEDIL &kp1e FR_OE &OCI_E       BACK           BACK       &kp1e MATH_MIC &kp1e UNDSC   &trem_gr1    &UCI_E
//             ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
                 &AGR_E      &ECU_E      &EGR_E   &hrm_ECIRC SL 0 BACK          &kp1e LPAREN &hrm_RPAR SR 0 &ICI_E        &ITR_E      &kp1e U_AGRAV
// ╭───────────├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤────────────╮
     ___       &kp1e FR_AE &kp1e S_SHARP &nob_hyph1  &kp1e NDASH  &kp1e MDASH    &kp1e T_DOT &kp1e M_DOT   &kp1e GREEK   &kp1e M_DOT  BACK         ___
// ╰───────────├───────────┴───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴────────────╯
                                         ___         ___          BACK           ___         &lt SYM APO  ___
//                                     ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)
*/

// GAM
ZMK_LAYER(Game,
//             ╭───────────┬───────────┬───────────┬────────────┬────────────╮ ╭───────────┬─────────────┬─────────────┬────────────┬────────────╮
                 &kp TAB     &kp Q       &kp W       &kp E        &kp R       &kp PAUSE_BREAK &kp PSCRN    &kp F5        &kp F6       &kp F7
//             ├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤
                 &kp SL      &kp A       &kp S       &kp D        &kp F          &kp N1      &kp N2        &kp N3        &kp N4       &kp N5
// ╭───────────├───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┼────────────┤────────────╮
     &kp T       &kp CL      &kp Z       &kp X       &kp C        &kp V          &kp N6      &kp N7        &kp N8        &kp N9       &kp N0       &kp AL
// ╰───────────┴───────────┼───────────┼───────────┼────────────┼────────────┤ ├───────────┼─────────────┼─────────────┼────────────┴────────────┴────────────╯
                                         &kp ESC     &kp SPACE    &kp RET        &kp ESC     &kp FR_M      &kp L
//                                     ╰───────────┴────────────┴────────────╯ ╰───────────┴─────────────┴─────────────╯
)
