/* French Modern Mappings for Linux ("AZERTY, variante")
 * & Windows ("Français (Standard, AZERTY)") 
 */

#define FR_A    Q           // A
#define FR_Z    W           // Z
#define FR_Q    A           // Q
#define FR_W    Z           // W
#define FR_M    SEMI        // M
#define FR_0    LS(N0)      // 0
#define FR_1    LS(N1)      // 1
#define FR_2    LS(N2)      // 2
#define FR_3    LS(N3)      // 3
#define FR_4    LS(N4)      // 4
#define FR_5    LS(N5)      // 5
#define FR_6    LS(N6)      // 6
#define FR_7    LS(N7)      // 7
#define FR_8    LS(N8)      // 8
#define FR_9    LS(N9)      // 9
#define SLSH    SQT         // /
#define BSLSH   LS(SQT)     // 
#define SQUO    MINUS       // '
#define DQUO    LS(MINUS)   // "
#define APO     N8          // ’
#define DEG     RA(MINUS)   // °
#define LBRAC   RA(T)       // {
#define RBRAC   RA(Y)       // }
#define LBKET   RA(N5)      // [
#define RBKET   RA(N6)      // ]
#define LPAREN  N5          // (
#define RPAREN  N6          // )
#define LFQUO   N9          // «
#define RFQUO   N0          // »
#define QUEST   LS(M)       // ?
#define EXCLM   LS(COMMA)   // !
#define VPIP    RA(L)       // |
#define LETH    RA(NUBS)    // ≤
#define GETH    LS(RA(NUBS))    // ≥
#define EQUA    LS(SLASH)   // =
#define LTH     NUBS        // <
#define GTH     LS(NUBS)    // >
#define DOLL    RA(D)       // $
#define EUR     RA(E)       // €
#define PERC    RA(P)       // %
#define PERT    LS(RA(P))   // ‰
#define AROB    GRAVE       // @
#define ESPR    RA(N4)      // &
#define STR     NUHS        // *
#define EURO    RA(E)       // €
#define FPLUS   RBKT        // +
#define HYPMIN  LBKT        // -
#define NOB_HYP LS(RA(LBKT))    // ‑ no-break hyphen
#define NDASH   LS(LBKT)    // –   
#define MDASH   LS(RA(N8))  // —
#define UNDSC   RA(N8)      // _
#define SHARP   LS(GRAVE)   // 
#define SEMIC   SLASH       // ;
#define CLN     DOT         // :
#define PERD    M           // .
#define COMM    COMMA       // ,
#define NBSPC   RA(SPACE)   // no-break space
#define NNBSPC  LS(RA(SPACE))   // no-break narrow space
#define T_DOT   LS(DOT)     // …
#define M_DOT   RA(DOT)     // ·
#define INV_QUEST RA(M)     // ¿
#define INV_EXCL RA(COMMA)  // ¡
#define A_AGRAV N1          // à
#define E_ACUTE N2          // é
#define E_AGRAV N3          // è
#define E_CIRC  N4          // ê
#define U_AGRAV RA(U)       // ù
#define FR_OE   RA(O)       // œ
#define FR_AE   RA(A)       // æ
#define C_CEDIL RA(C)       // ç
#define S_SHARP RA(S)       // ß

/* dead keys (waiting to be combined)
 * CD_ is for Combined diacritic 
 */
#define MONET   RA(F)       // ¤*
#define GREEK   RA(G)       // μ*
#define CD_TILD RA(N)       // ~*
#define CD_ACC_CU RA(N2)    // ´*
#define CD_ACC_CI EQUAL     // ^*
#define CD_ACC_GR RA(N3)    // `*
#define CD_TREMA LS(EQUAL)  // ¨*
#define CD_OGO  LS(RA(V))   //  ̨*
#define CD_CED  RA(V)       //  ̧*
#define CD_RON  LS(RA(MINUS))   // ̊*
#define CD_CAR  RA(EQUAL)   //  ̌*
#define CD_MAC  RA(N7)      //  ̄*
#define CD_BRE  RA(GRAVE)   //  ̆*
#define CD_INV_BRE LS(RA(GRAVE))    //  ̑*
#define CD_UPO  RA(I)       // ̇*
#define CD_LPO  LS(RA(I))   // ̣*
#define CD_ACC_DCU LS(RA(N5))   // ̋*
#define CD_ACC_DGR LS(RA(N6))   // ̏*
#define CD_COM  LS(RA(COMMA))   // ̦*
#define CD_OBL  RA(K)       //  ̷*

/* Symbols */
#define MATH_PM     LS(RBKT)    // ±
#define MATH_DEG    RA(MINUS)   // °
#define MATH_MIC    LS(NUHS)    // µ
#define MATH_MIN    LA(LBKT)    // −
#define MATH_MUL    RA(NUHS)    // ×
#define MATH_DIV    RA(SQT)     // ÷
#define MATH_SQR    LS(RA(SQT)) // √
#define MATH_DIF    LS(RA(SQT)) // ≠
#define MATH_ASY    RA(SQT)     // ≃
// #define MATH_NOT                // ¬ not present in modern azerty
#define MATH_1_4    LS(RA(NUHS))    // ¼
#define MATH_1_2    LS(NUHS)    // ½
#define MATH_1_2    LS(NUHS)    // ½
// #define MATH_3_4    // ¾ not present in modern azerty
