// ergo-l by default
ZMK_CAPS_WORD(cword, continue-list = <Q W E R T Y U I O P
A S D F G H J K L SEMI Z X V B M COMMA>;)

// azerty
ZMK_CAPS_WORD(cword_az, continue-list = <Q W E R T Y U I O P
A S D F G H J K L SEMI Z X C V B N>;)
