// Adapted from https://github.com/JeffDess/zmk-config/blob/main/behaviors/hold_tap.dtsi
#define std_tap_term 300
#define sticky_tap_term 500
/* Home Row Mods */
#define hrm_tap_term 350
#define hrm_quick_tap 175

/* Timerless Home Row Mods */
/* https://github.com/urob/zmk-config#timeless-homerow-mods */

/* left-hand HRMs */
ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
)

/* left-hand layer HRMs */
ZMK_HOLD_TAP(hml_mo,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&mo>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
)

/* right-hand HRMs */
ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

/* right-hand layer BRM */
ZMK_HOLD_TAP(hrm_comma,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&mo>, <&comma_semi>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

// homerow mods for ê (Ergo-L-Az)
ZMK_HOLD_TAP(hrm_ECIRC,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&ECI>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
)

// baserow mods for 0 (Ergo-L on Azerty)
ZMK_HOLD_TAP(hrm_d0,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&d0>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

// baserow mods for 1 (Ergo-L on Azerty)
ZMK_HOLD_TAP(hrm_d1,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&d1>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

// baserow mods for 2 (Ergo-L on Azerty)
ZMK_HOLD_TAP(hrm_d2,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&d2>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

// baserow mods for 3 (Ergo-L on Azerty)
ZMK_HOLD_TAP(hrm_d3,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&d3>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

// baserow mods for = (Ergo-L on Azerty)
ZMK_HOLD_TAP(hrm_equal_a,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&equal_obla>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

// baserow mods for = (native Ergo-L)
ZMK_HOLD_TAP(hrm_equal_e,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&equal_oble>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

// space or no-break space and layer if hold
ZMK_HOLD_TAP(space_lt,
    flavor = "balanced";
    tapping-term-ms = <std_tap_term>;
    bindings = <&mo>, <&nbspac>;
)

// space or narrow no-break space and layer if hold
ZMK_HOLD_TAP(n_space_lt,
    flavor = "balanced";
    tapping-term-ms = <std_tap_term>;
    bindings = <&mo>, <&nnbspac>;
)

// space or narrow no-break space and key press if hold
ZMK_HOLD_TAP(n_space_mt,
    flavor = "balanced";
    tapping-term-ms = <std_tap_term>;
    bindings = <&kp>, <&nnbspac>;
)

//  backspace or del and layer if hold
ZMK_HOLD_TAP(del_lt,
    flavor = "balanced";
    tapping-term-ms = <std_tap_term>;
    bindings = <&mo>, <&bspc_del>;
)
//  backspace or del and key press if hold
ZMK_HOLD_TAP(del_mt,
    flavor = "balanced";
    tapping-term-ms = <std_tap_term>;
    bindings = <&kp>, <&bspc_del>;
)

ZMK_HOLD_TAP(hmlrbrace,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&rbraceupoin>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
)

ZMK_HOLD_TAP(hmrplus,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&plusplusm>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

ZMK_HOLD_TAP(hmrhyphen,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&hyphenminm>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

ZMK_HOLD_TAP(hmrslash,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&slashdiv>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

ZMK_HOLD_TAP(sticky,
    flavor = "hold-preferred";
    tapping-term-ms = <sticky_tap_term>;
    bindings = <&kp>, <&sk>;
    hold-while-undecided-linger;
)

