// Adapted from https://github.com/JeffDess/zmk-config/blob/main/behaviors/hold_tap.dtsi
/* Home Row Mods */
#define hrm_tap_term 350
#define hrm_quick_tap 175

/* Timerless Home Row Mods */
/* https://github.com/urob/zmk-config#timeless-homerow-mods */

/* left-hand HRMs */
ZMK_HOLD_TAP(hml,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_R THUMBS>;
    hold-trigger-on-release;
)

/* right-hand HRMs */
ZMK_HOLD_TAP(hmr,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&kp>;
    hold-trigger-key-positions = <KEYS_L THUMBS>;
    hold-trigger-on-release;
)

// ACCENTS HOME ROW MODS
// NOTE: Accents on the home row are needed as it seems impossible to pass 
// parameters to a hold-tap


// homerow mods for ê (Ergo-L)
ZMK_HOLD_TAP(hrm_ECIRC,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&ECI>;
    //bindings = <&kp>, <&ECI_E>;
)

// homerow mods for ê (Ergo-L)
ZMK_HOLD_TAP(hrm_ICIRC,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&ICI>;
    //bindings = <&kp>, <&ICI_E>;
)

// space or no-break space
ZMK_HOLD_TAP(space_lt,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&mo>, <&nbspac>;
)

// space or no-break space
ZMK_HOLD_TAP(narrowsp_lt,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&mo>, <&nnbspac>;
)

// space or no-break space
ZMK_HOLD_TAP(hmlrbrace,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&rbraceupoin>;
)

// space or no-break space
ZMK_HOLD_TAP(hmrplus,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&plusplusm>;
)

// space or no-break space
ZMK_HOLD_TAP(hmrhyphen,
    flavor = "balanced";
    tapping-term-ms = <hrm_tap_term>;
    quick-tap-ms = <hrm_quick_tap>;
    global-quick-tap;
    bindings = <&kp>, <&hyphenminm>;
)




