#define MACRO_DEFAULT_TAP_MS 40
#define MACRO_DEFAULT_WAIT_MS 40

/ {
  behaviors {
    /*
     *
     * COMBINING CHARACTERS MACROS
     * 
     */
    // micro (µ) - AZERTY MODERN LAYOUT
    micro: macro_micro_azerty {
      compatible = "zmk,behavior-macro";
      #binding-cells = <0>;
      tap-ms = <MACRO_DEFAULT_TAP_MS>;
      wait-ms = <MACRO_DEFAULT_WAIT_MS>;
      bindings = <OS_C(_MICRO)>;
    };
  };
};
