////////////////////////
// Thumbs mod morphs
////////////////////////

// tap: backspace | shift + tap: deletemorph_e_circ
ZMK_MOD_MORPH(bspc_del,
    bindings = <&kp BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

ZMK_MOD_MORPH(sym_sp_nbsp,
    bindings = <&lt SYM SPACE>, <&kp RA(SPACE)>;
    mods = <(MOD_LALT|MOD_RALT|MOD_LSFT|MOD_RSFT)>;
)

// tap: backspace | shift + tap: delete | hold: nav layer
ZMK_MOD_MORPH(bs_del_nav,
    bindings = <&lt NAV BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

////////////////////////
// Characters mod morphs
////////////////////////

// tap: to EAC | shift + tap: exclamation mark
ZMK_MOD_MORPH(eac_exl,
    bindings = <&to EAC>, <&kp EXCLM>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap: minus | shift + tap: question mark
ZMK_MOD_MORPH(min_qst,
    bindings = <&kp HYPMIN>, <&kp QUEST>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap: period | shift + tap: colon
ZMK_MOD_MORPH(dot_col,
    bindings = <&kp PERD>, <&kp CLN>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap: comma | shift + tap: semi-colon
ZMK_MOD_MORPH(comma_semi,
    bindings = <&kp COMM>, <&kp SEMIC>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap: trema | shift + tap: grave -- from ErgoAcc, back to ErgoL
ZMK_MOD_MORPH(trem_gr1,
    bindings = <&kp1 CD_TREMA>, <&kp1 CD_ACC_GR>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyQ - tap: circ | shift + tap: dead circ
ZMK_MOD_MORPH(circacc,
    bindings = <&alive CD_ACC_CI>, <&kp CD_ACC_CI>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyW - tap: lt | shit + tap: let
ZMK_MOD_MORPH(lessert,
    bindings = <&kp LTH>, <&kp LETH>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyE - tap: gth | shit + tap: geth
ZMK_MOD_MORPH(greatert,
    bindings = <&kp GTH>, <&kp GETH>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyR - tap: dollar | shift + tap: monetary symbols
ZMK_MOD_MORPH(dollars,
    bindings = <&kp DOLL>, <&kp MONET>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyT - tap: percent | shift + tap: per thousand
ZMK_MOD_MORPH(perct,
    bindings = <&kp PERC>, <&kp PERT>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyY - tap: arobase | shift + tap: rond
ZMK_MOD_MORPH(arobase,
    bindings = <&kp AROB>, <&kp CD_RON>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyI - tap: star | shift + tap: multiply (math)
ZMK_MOD_MORPH(starmul,
    bindings = <&kp STR>, <&kp MATH_MUL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyO - tap: single quote | shift + tap: cute accent
ZMK_MOD_MORPH(squotecute,
    bindings = <&kp SQUO>, <&kp CD_ACC_CU>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyP - tap: grave | shift + tap: dead grave
ZMK_MOD_MORPH(graveacc,
    bindings = <&alive CD_ACC_GR>, <&kp CD_ACC_GR>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyA - tap: left brace | shift + tap: caron
ZMK_MOD_MORPH(lbracecaron,
    bindings = <&kp LBRAC>, <&kp CD_CAR>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyF - tap: right brace | shift + tap: upper point
ZMK_MOD_MORPH(rbraceupoin,
    bindings = <&kp RBRAC>, <&kp CD_UPO>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyG - tap: equal | shift + tap: different
ZMK_MOD_MORPH(equalordif,
    bindings = <&kp EQUA>, <&kp MATH_DIF>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyH - tap: backslash | shift + tap: oblique
ZMK_MOD_MORPH(bslashobl,
    bindings = <&kp BSLSH>, <&kp CD_OBL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyJ - tap: plus | shift + tap: plus/minus
ZMK_MOD_MORPH(plusplusm,
    bindings = <&kp RBKT>, <&kp MATH_PM>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyK - tap: minus | shift + tap: macron
ZMK_MOD_MORPH(hyphenminm,
    bindings = <&kp HYPMIN>, <&kp MATH_MIN>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyL - tap: slash | shift + tap: division
ZMK_MOD_MORPH(slashdiv,
    bindings = <&kp SLSH>, <&kp MATH_DIV>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+Semicolon - tap: double quote | shift + tap: double cute
ZMK_MOD_MORPH(dquotecute,
    bindings = <&kp DQUO>, <&kp CD_ACC_DCU>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyZ - tap: tilde | shift + tap: dead tilde
ZMK_MOD_MORPH(tildes,
    bindings = <&alive CD_TILD>, <&kp CD_TILD>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyX - tap: left bracket | shift + tap: dead comma
ZMK_MOD_MORPH(lbracketc,
    bindings = <&kp LBKET>, <&kp CD_COM>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyC - tap: right bracket | shift + tap: ogonek
ZMK_MOD_MORPH(rbracketo,
    bindings = <&kp RBKET>, <&kp CD_OGO>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+KeyV - tap: underscore | shift + tap: unbreakable hyphen
ZMK_MOD_MORPH(underscruh,
    bindings = <&kp UNDSC>, <&kp UNB_HYP>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+Comma - tap: semicolon | shift + tap: cedille
ZMK_MOD_MORPH(semicolced,
    bindings = <&to SEMIC>, <&kp CD_CED>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+Period - tap: colon | shift + tap: colon 
// same char each so it can be tapped with spaces before/after
ZMK_MOD_MORPH(coloneach,
    bindings = <&kp CLN>, <&kp CLN>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Alt+Slash - tap: question mark | shift + tap: breve
ZMK_MOD_MORPH(questionm,
    bindings = <&kp QUEST>, <&kp CD_BRE>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Digit1 - tap: 1 | shift + tap: euro
ZMK_MOD_MORPH(d1,
    bindings = <&kp FR_1>, <&kp EURO>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Digit2 - tap: 2 | shift + tap: left french (dble) quotes
ZMK_MOD_MORPH(d2,
    bindings = <&kp FR_2>, <&kp LFQUO>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Digit3 - tap: 3 | shift + tap: right french (dble) quotes
ZMK_MOD_MORPH(d3,
    bindings = <&kp FR_3>, <&kp RFQUO>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Digit4 - tap: 4 | shift + tap: dollar
ZMK_MOD_MORPH(d4,
    bindings = <&kp FR_4>, <&kp DOLL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Digit5 - tap: 5 | shift + tap: percent
ZMK_MOD_MORPH(d5,
    bindings = <&kp FR_5>, <&kp PERC>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Digit6 - tap: 6 | shift + tap: power
ZMK_MOD_MORPH(d6,
    bindings = <&kp FR_6>, <&alive CD_ACC_CI>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Digit7 - tap: 7 | shift + tap: esperluette
ZMK_MOD_MORPH(d7,
    bindings = <&kp FR_7>, <&kp ESPR>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Digit8 - tap: 8 | shift + tap: star
ZMK_MOD_MORPH(d8,
    bindings = <&kp FR_8>, <&kp STR>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Digit9 - tap: 9 | shift + tap: sharp
ZMK_MOD_MORPH(d9,
    bindings = <&kp FR_9>, <&kp SHARP>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// Digit0 - tap: 0 | shift + tap: arobase
ZMK_MOD_MORPH(d0,
    bindings = <&kp FR_0>, <&kp AROB>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap: plus | shift + tap: minus
ZMK_MOD_MORPH(plus_minus,
    bindings = <&kp RBKT>, <&kp HYPMIN>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap: multiply | shift + tap: divide
ZMK_MOD_MORPH(multi_div,
    bindings = <&kp STAR>, <&kp SLSH>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)

// tap: comma | shift + tap: dot (period)
ZMK_MOD_MORPH(comma_dot,
    bindings = <&kp COMM>, <&kp PERD>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
)
